{% extends "layout.html.twig" %}

{% block Title%}Modifier mon Mot de passe{% endblock%}

{% block body %}
    <header class="head-color">
        {% include 'component/_navbar.html.twig' %}
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <h2>Modifier mon mot de passe</h2>

                {{ form(form) }}
                <a href="{{ path('account_reset_password')}}" class="mt30 col s12">Modifier mon mot de passe</a>
            </div>
        </div>

    </div>
{% endblock %}