.auth {
    border-style: solid;
    border-radius: 8px;
    border-color: #31708f;
    border-width: 5px;
    position: fixed;
    z-index: 3;
}
@media (min-width : 500px) {
    /* Styles pour cette Media Queries */
    #banner {
        height: 900px;

    }
}