/* home */
.logo
{
    font-family : "Marker felt";

}
.card
{
    height: 700px;
    border: 0px;
}

.img-card
{
    height: 300px;
}


.titre-card
{
    height: 50px;
}

.p-card
{
    height: 200px;
}

/* Offers */
.head-color
{
    background : black;
    height: 100px;
}
.choice
{
    text-align : center;
}

.description-offers
{
    height: 200px;
}

.options-offers
{
    height: 100px;
}

.price-offers
{
    height: 50px;
}
.time-loc-classic
{
    text-align: right;
}
/* Offers validation */
.validate
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* footer */