{% extends "layout.html.twig" %}


{% block body %}


    <section id="banner">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <i class="icon fa-diamond"></i>
            {% else %}
                <i class="icon fa-diamond"></i>
        {% endif %}
        <h2>LocTaTrott'</h2>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p> Bonjour {{ app.user.firstname}}</p>
            {% endif %}
        <p>Trop de circulation sur la route? Marre d'attendre le métro? Louez votre trottinette éléctrique avec LocTaTrot'</p>
        <h2>LocTaTrott'</h2>
        <p>Trop de circulation sur la route? Marre d'attendre le métro? Louez votre trottinette éléctrique avec LocTaTrott'</p>
        <ul class="actions">
            <li><a href="/offers" class="button big special">Louez votre Trottinette</a></li>
        </ul>

    </section>

    <section class="wrapper special">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    Louer une trottinette selon vos besoins !
                </h2>
            </div><br><br><br>
        </div>
        <div class="row">
            <div class="col-md-4" style="height: 200px">
                <img src="images/product/b1.jpg"
                     alt="card-img"
                     style="width: 50%; height: 100%">
            </div>
            <div class="col-md-4"  style="height: 250px">
                <img src="images/product/b2.jpg"
                     alt="card-img"
                     style="width: 60%; height: 100%">
            </div>
            <div class="col-md-4"  style="height: 200px">
                <img src="images/product/b3.jpg"
                     alt="card-img"
                     style="width: 50%; height: 100%">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <h4>Votre choix de Trottinette</h4>
                <p>Choisissez votre modèle de trottinettes,
                    <strong>SILVER</strong>, 
                    <strong>GOLD</strong> ou
                    <strong>PLATINIUM</strong>
                </p>
            </div>
            <div class="col-md-4">
                <h4>Pour combien de temps ?</h4>
                <p>Partez sur <strong>3 mois de location</strong> en formule classique ou <strong>personnalisez votre offre</strong> en réduisant
                    ou en augmentant la durée de location </p>
            </div>
            <div class="col-md-4">
                <h4>Economisez du temps et de l'argent !</h4>
                <p>Vous n'aurez plus à attendre le train , le métro ou le bus, déplacez vous plus facilement...
                    Faites des <strong>économies</strong> en ne dépensant pas une fortune pour obtenir
                    une trottinette électrique de grande qualité !
                    On s'occupe de tout! Vous n'aurez qu'à payer un forfait chaque mois !
                </p>
            </div>
        </div>

    <!-- three -->

        <div class="inner">
            <div class="major narrow">
                <h2>Laissez vous séduire et bénéficiez de points de fidélité. </h2>

            </header>
            <iframe width="80%" height="315" src="https://www.youtube.com/embed/stkiGHbZ64M"
            </div>
            <iframe width="80%" height="315"
                    src="https://www.youtube.com/embed/qu3DKYWOQ9M"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper style2 special">
        <div class="inner">

        </div>
    </section>

    </body>
{% endblock %}
