{% extends "layout.html.twig" %}


{% block body %}


    <section id="banner">
        <i class="icon fa-diamond"></i>
        <h2 class="logo">Loc Ta Trott'</h2>
        <p>Trop de circulation sur la route? Marre d'attendre le métro? Louez votre trottinette éléctrique avec LocTaTrott'</p>
        <ul class="actions">
            <li><a href="/offers" class="button big special">Louez votre Trottinette</a></li>
        </ul>
    </section>

    <!-- two -->
    <section class="wrapper special">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    Louer une trottinette selon vos besoins !
                </h2>
            </div><br>
        </div>
        <div class="container">
            <div class="row">
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <div class="img-card">
                            <img class="card-img-top" src="images/product/b1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class="titre-card">
                                <h4>Votre choix de Trottinette</h4>
                            </div>
                            <div class="p-card">
                                <p class="card-text">
                                Choisissez votre modèle de trottinettes,
                                    <strong>SILVER</strong>,
                                    <strong>GOLD</strong> ou
                                    <strong>PLATINIUM</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="img-card">
                            <img class="card-img-top" src="images/product/b2.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class="titre-card">
                                <h4>Pour combien de temps ?</h4>
                            </div>
                            <div class="p-card">
                                <p class="card-text">Partez sur
                                    <strong>3 mois de location</strong> en formule classique ou
                                    <strong>personnalisez votre offre</strong> en réduisant
                                    ou en augmentant la durée de location
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="img-card">
                            <img class="card-img-top" src="images/product/b3.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class="titre-card">
                                <h4>Economisez du temps et de l'argent !</h4>
                            </div>
                            <div class="p-card">
                                <p class="card-text">Vous n'aurez plus à attendre le train , le métro ou le bus, déplacez vous plus facilement...
                                Faites des <strong>économies</strong> en ne dépensant pas une fortune pour obtenir
                                une trottinette électrique de grande qualité !
                                On s'occupe de tout! Vous n'aurez qu'à payer un forfait chaque mois !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- three -->
    <section id="two" class="wrapper special">
        <div class="inner">
            <header class="major narrow">
                <h2>Laissez vous séduire et bénéficiez de points de fidélité. </h2>
            </header>
            <iframe width="80%" height="315"
                    src="https://www.youtube.com/embed/qu3DKYWOQ9M"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    </section>
    </body>
{% endblock %}
