<footer id="footer">
    <div class="inner">

    <div class="foots">
        <ul class="information col-lg-6">
            <h2>Contactez-nous</h2>
            <li>LocTaTrot', 10 rue de Paris 75000</li>
            <li>Telephone:020102201</li>
            <li>Mail:loctatrot@mail.com</li>
        </ul>

        <ul class="information col-lg-6">
            <h2>Informations</h2>
            <li>Qui sommes-nous</li>
            <li>Nos offres</li>
            <li>Livraison</li>
            <li>C.G.V</li>
        </ul>
    </div>
        <ul class="icons">
            <li><a href="#" class="icon fa-facebook">
                    <span class="label">Facebook</span>
                </a></li>
            <li><a href="#" class="icon fa-twitter">
                    <span class="label">Twitter</span>
                </a></li>
            <li><a href="#" class="icon fa-instagram">
                    <span class="label">Instagram</span>
                </a></li>
            <li><a href="#" class="icon fa-linkedin">
                    <span class="label">LinkedIn</span>
                </a></li>
        </ul>

    </div>
</footer>