{% extends "layout.html.twig" %}

{% block body %}
<header class="head-color">
</header>
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="msg-validation">
                        Nous vous remercions! Votre commande à été prise en compte !
                    </h2>
                </div>
                <div class="col-md-12">
                    <img src="images/product/logo-trott.png" alt="image validation commande">
                </div>
            </div>
        </section>
    </div>
{% endblock %}
