{% extends "layout.html.twig" %}

{% block body %}
<header class="head-color">
</header>
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="msg-validation">
                        Nous vous remercions! Votre commande à été prise en compte !
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="{{ asset('images/product/valid.jpg') }}" alt="image validation commande" class="img-validation">
                </div>
            </div>
        </section>
    </div>
{% endblock %}
